In [3]:
import pandas as pd
import numpy as np
import pandas as pd 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [6]:
df=pd.read_csv(r"C:\Users\Mukundhan\OneDrive\Desktop\datasets\PS_20174392719_1491204439457_log.csv")
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [7]:
X = df.drop(columns=["isFraud","isFlaggedFraud","nameOrig","nameDest"])
y = df["isFraud"]


df.shape
#labelencoding 
le=LabelEncoder()
X['type']=le.fit_transform(X['type'])
print(X['type'].unique())

[3 4 1 2 0]

In [8]:
X

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,3,9839.64,170136.00,160296.36,0.00,0.00
1,1,3,1864.28,21249.00,19384.72,0.00,0.00
2,1,4,181.00,181.00,0.00,0.00,0.00
3,1,1,181.00,181.00,0.00,21182.00,0.00
4,1,3,11668.14,41554.00,29885.86,0.00,0.00
...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63

In [9]:


X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [10]:
from sklearn.preprocessing import StandardScaler

num_cols = [
    'step',
    'amount',
    'oldbalanceOrg',
    'newbalanceOrig',
    'oldbalanceDest',                    #scaling the x_train
    'newbalanceDest'
]

scaler = StandardScaler()

X_train_scaled = X_train.copy()
X_train_scaled[num_cols] = scaler.fit_transform(X_train[num_cols])

In [11]:
X_test_scaled = X_test.copy()
X_test_scaled[num_cols] = scaler.transform(X_test[num_cols])           #scaling the x_test

In [26]:
X_train_scaled

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
292779,-1.604574,3,-0.282169,-0.273409,-0.280706,-0.323308,-0.333104
499763,-1.569442,3,-0.287248,-0.288733,-0.292451,-0.323308,-0.333104
2970411,-0.086865,1,0.300938,-0.288733,-0.292451,-0.179414,-0.101671
3137549,-0.051733,3,-0.286868,-0.288733,-0.292451,-0.323308,-0.333104
1500682,-0.705191,0,0.063257,4.229095,4.244653,0.393047,0.270692
...,...,...,...,...,...,...,...
1524870,-0.634927,3,-0.295479,-0.288733,-0.292451,-0.323308,-0.333104
5834821,1.114654,1,0.277532,-0.252791,-0.292451,-0.297490,-0.214803
4182953,0.426064,3,-0.276617,-0.288733,-0.292451,-0.323308,-0.333104
3985280,0.383906,3,-0.258585,-0.288733,-0.292451,-0.323308,-0.333104
1541412,-0.627900,3,-0.287230,-0.288733,-0.292451,-0.323308,-0.333104

In [27]:
X_test_scaled

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
4051353,0.397958,4,1.179614,-0.288657,-0.292451,-0.323308,-0.090896
5746321,1.093575,0,-0.136400,0.437219,0.458047,-0.229248,-0.272618
6361797,3.335006,3,-0.288821,-0.288624,-0.292451,-0.323308,-0.333104
2247309,-0.403054,1,0.012925,-0.284904,-0.292451,0.204997,0.206967
4692207,0.615778,1,-0.161444,-0.288733,-0.292451,-0.015448,-0.025658
...,...,...,...,...,...,...,...
4586779,0.594698,1,-0.066163,-0.286910,-0.292451,-0.241975,-0.219730
5202249,0.882782,1,0.154165,-0.288733,-0.292451,0.113221,0.145157
5274477,0.903861,0,-0.073435,-0.281362,-0.238762,-0.176011,-0.233657
479091,-1.576468,1,-0.058960,-0.288733,-0.292451,0.228279,0.216739
2496743,-0.276579,4,0.103580,-0.286749,-0.292451,-0.323308,-0.267203

In [28]:
X_test_scaled

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
4051353,0.397958,4,1.179614,-0.288657,-0.292451,-0.323308,-0.090896
5746321,1.093575,0,-0.136400,0.437219,0.458047,-0.229248,-0.272618
6361797,3.335006,3,-0.288821,-0.288624,-0.292451,-0.323308,-0.333104
2247309,-0.403054,1,0.012925,-0.284904,-0.292451,0.204997,0.206967
4692207,0.615778,1,-0.161444,-0.288733,-0.292451,-0.015448,-0.025658
...,...,...,...,...,...,...,...
4586779,0.594698,1,-0.066163,-0.286910,-0.292451,-0.241975,-0.219730
5202249,0.882782,1,0.154165,-0.288733,-0.292451,0.113221,0.145157
5274477,0.903861,0,-0.073435,-0.281362,-0.238762,-0.176011,-0.233657
479091,-1.576468,1,-0.058960,-0.288733,-0.292451,0.228279,0.216739
2496743,-0.276579,4,0.103580,-0.286749,-0.292451,-0.323308,-0.267203

In [29]:
y_train

292779     0
499763     0
2970411    0
3137549    0
1500682    0
          ..
1524870    0
5834821    0
4182953    0
3985280    0
1541412    0
Name: isFraud, Length: 5090096, dtype: int64

In [30]:
y_test

4051353    0
5746321    0
6361797    0
2247309    0
4692207    0
          ..
4586779    0
5202249    0
5274477    0
479091     0
2496743    0
Name: isFraud, Length: 1272524, dtype: int64

In [31]:
#train the model

model=Sequential([
    Dense(128,activation='relu',input_shape=(X_train_scaled.shape[1],)),
    Dense(64,activation='relu'),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               1024

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 11,393
Trainable params: 11,393
Non-trainable params: 0
_________________________________________________________________

In [35]:
from sklearn.utils.class_weight import compute_class_weight
class_weights_array = compute_class_weight(
    class_weight='balanced',
    classes=np.array([0, 1]),
    y=y_train
)
class_weights = {
    0: class_weights_array[0],
    1: class_weights_array[1]
}

In [39]:
#compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['Recall'])

In [40]:
earlyStopping=tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    patience=3,
    restore_best_weights=True
)

In [41]:
#train the model
history=model.fit(X_train_scaled,y_train,validation_split=0.2,epochs=10,batch_size=64,callbacks=[earlyStopping],class_weight=class_weights)

Epoch 1/10
63627/63627 [==============================] - 554s 9ms/step - loss: 0.3663 - recall: 0.9370 - val_loss: 0.1130 - val_recall: 0.8448
Epoch 2/10
63627/63627 [==============================] - 530s 8ms/step - loss: 0.2861 - recall: 0.9365 - val_loss: 0.1989 - val_recall: 0.9462
Epoch 3/10
63627/63627 [==============================] - 521s 8ms/step - loss: 0.4746 - recall: 0.9372 - val_loss: 0.0520 - val_recall: 0.8822
Epoch 4/10
63627/63627 [==============================] - 519s 8ms/step - loss: 0.3775 - recall: 0.9438 - val_loss: 0.1857 - val_recall: 0.9805
Epoch 5/10
63627/63627 [==============================] - 492s 8ms/step - loss: 0.3713 - recall: 0.9423 - val_loss: 0.1347 - val_recall: 0.9665
Epoch 6/10
63627/63627 [==============================] - 559s 9ms/step - loss: 0.3238 - recall: 0.9429 - val_loss: 0.1718 - val_recall: 0.9930

In [ ]:
model.save('model.h5')

NameError: name 'model' is not defined

In [13]:
import joblib

joblib.dump(scaler, "scaler.pkl")
joblib.dump(le, "type_encoder.pkl")

['type_encoder.pkl']

In [58]:
y_pred=model.predict(X_test_scaled)
y_pred_class = (y_pred >= 0.5).astype(int)
print("Prob:", y_pred)
print("Class:", y_pred_class)

39767/39767 [==============================] - 73s 2ms/step
Prob: [[2.1696880e-05]
 [0.0000000e+00]
 [4.3886367e-02]
 ...
 [1.3540448e-31]
 [3.3709586e-02]
 [3.4434654e-02]]
Class: [[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]

In [ ]:
fraud_input_1= [[
    3.20,
    1,        
    5.75,
    2.90,
   -2.60,
   -0.30,
    3.80
]]
new_pred=model.predict(fraud_input_1)
new_pred_class = (new_pred >= 0.5).astype(int)
print("Probability:", new_pred)
print("Class:", new_pred_class)

1/1 [==============================] - 0s 56ms/step
Probability: [[0.9972554]]
Class: [[1]]

In [61]:
fraud_input_3 = [[
    3.55,
    4,         
    4.90,
    2.40,
   -2.20,
   -0.55,
    3.10
]]
new_pred=model.predict(fraud_input_3)
new_pred_class = (new_pred >= 0.5).astype(int)
print("Probability:", new_pred)
print("Class:", new_pred_class)

1/1 [==============================] - 0s 51ms/step
Probability: [[0.9939429]]
Class: [[1]]

In [64]:
input_data_1=[[0.397958,
              4,
              1.179614,
              -0.288657,
              -0.292451,
              -0.323308,
              -0.090896]]
new_pred=model.predict(input_data_1)
new_pred_class = (new_pred >= 0.5).astype(int)
print("Probability:", new_pred)
print("Class:", new_pred_class)

1/1 [==============================] - 0s 66ms/step
Probability: [[2.1696776e-05]]
Class: [[0]]